# Ignore all build and devel catkin generated directories
build/
devel/

# Ignore python bytecode files
*.pyc

# Igore __pycache__ directories
__pycache__/

# Ignore this test workspace
/tests/testworkspace/*
